 /* styles.css */
 @keyframes vibrate {
    0% { transform: translate(1px, 0); }
    20% { transform: translate(-1px, 0); }
    40% { transform: translate(1px, 0); }
    60% { transform: translate(-1px, 0); }
    80% { transform: translate(1px, 0); }
    100% { transform: translate(0, 0); }
  }
  
  .vibrate {
    animation: vibrate 0.3s linear infinite;
  }
  

  #btn1,#btn2{    
    background: linear-gradient(to right, rgb(161, 161, 218),  rgb(99 102 241 ));    
  }
  #btn1,#btn2:hover{    
    background: linear-gradient(to right, rgb(99 102 241 ), rgb(161, 161, 218));
   
  }
  
 
 